.root{
    -fx-font: bold italic 20pt "Arial";
}

.button {
    -fx-effect: dropshadow( one-pass-box , black , 8 , 0.0 , 2 , 0 );
    -fx-background-radius: 20px;
}

.list-view {
    -fx-background-radius: 20px;
}